.layout {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.layout .header {
    margin: 0;
    padding: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}

.layout footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #aaa;
}
